.button{
    display:inline-block;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 15px 18px;
    margin: 12px 0;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    background-color:#61dafb; 
    color: #fff;
}
.button:hover{ background-color: #24c6f3; color: rgb(255, 255, 255);}