h1{
    text-align:center;
    font-size: 35px;
}

.content{
    font-size: 20px;
    text-align: justify;
    padding: 20px 4vw;
    height: 100vh;
    color:#333;
    background: #fff;
    transition: all 0.2s ease-in-out;
}
.content.light{
    color:#333;
    background: #fff;   
}
.content.dark{
color:#fff;
background: #333;    
}